
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #d5d3d3;
}
 
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.intro img {
    max-width: 150px;
    height: auto;
    margin-right: 10px;
}


header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav {
    background: #444;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    padding-left: 65%;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff6347;
    
}

section {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px 5px #888888;
    border: 1px solid #aeabab;
}

footer {
    background: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
}
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
        text-align: center;
    }

    .intro img {
        margin: 20px 0;
        max-width: 100px;
    }

    nav {
        flex-direction: column;
        padding-left: 0;
    }

    nav a {
        margin: 10px 0;
    }

    section {
        margin: 5px;
        padding: 15px;
    }

    footer {
        font-size: 14px;
    }
}
